#img-bg{
  background-image: url('https://i.imgur.com/NsqnRwo.jpg');

  min-height: 957px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr
{
    background-color: rgba(255, 255, 255, 0.829);  
    width: 11cm;

}