<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse">

    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item pl-3">
        <a class="text-light align-items-center"><img src="https://i.imgur.com/fT8Bvj3.png" width="70px" height="70px"  routerLink='/inicio'></a>
      </li>
    </ul>
  </div>

  <li class="nav-item dropdown ml-auto d-flex align-items-center">
    <a class="nav-link dropdown-toggle fontMenu mr-3 ml-5 bg-transparent" href="#" id="navbarDropdown" role="button"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{foto}}" 
        width="50px" height="50px" class="img-fluid rounded-circle">
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item fontMenu" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</a>
      <a class="dropdown-item fontMenu" href="#postagens">Ver Postagens</a>
      <a class="dropdown-item fontMenu" routerLink='/minhapub'>Minhas publicações</a>
      <a class="dropdown-item fontMenu" [routerLink]="['/user-edit', id]">Perfil</a>
      <a class="dropdown-item fontMenu" (click)='sair()'>Sair</a>
    </div>
  </li>
</nav>


<div class=" nav_3 navbar nav justify-content-center ">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active">ACHADO DA SEMANA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">PARA INICIANTES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">VINHOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">ENOTURISMO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">GASTRONOMIA</a>
    </li>
  </ul>
</div>
<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
            placeholder="Digite o título">
        </div>
        <div class="form-group">
          <label for="foto">Link da foto</label>
          <input [(ngModel)]='postagem.foto' type="text" class="form-control" id="foto"
            placeholder="Cole a URL da sua foto">
        </div>
        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="texto">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'>cadastre um novo</a>:
          </label>
          <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
            <option *ngFor='let item of listaTemas' value="{{item.id}}">
              {{item.descricao}}
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)='publicar()' data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>